@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jura:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-colour: black;
  --bg-colour: grey;
}
body {
  background-color: var(--main-bg-colour);
  font-family: "Jura", sans-serif;
}
/* navbar styles */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-image: url(Photos/close-up-mercury.png);
  color: black;
  width: 100%;
  height: 56px;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style-type: none;
}
.nav-logo {
  display: grid;
  grid-column: 0/1;
  grid-row: 1;
  border: none;
  background-color: rgb(149, 149, 149);
  border-radius: 6px;
  padding: 1rem 2rem;
}
.nav-items {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 1;
  padding: 1rem 2rem;
  gap: 2rem;
}
.navbar li a {
  text-decoration: none;
}
.nav-items a:hover {
  background-color: rgb(49, 45, 45);
}
/* navbar section links styles */
html {
  scroll-behavior: smooth;
}
/* hero styles */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* about section styles */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: white;
}
.about img {
  display: flex;
  align-items: center;
  justify-content: center;
}
